/*//////////////////////////////////////
CSS Reset///////////////////////////////
//////////////////////////////////////*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

select{
    -webkit-appearance:none;
    -moz-appearance:none;
	appearance:none;
}

input:invalid{
	color: #FF0000 !important;
	border: 2px solid #FF0000 !important;
}

/*Enforce more intuitive box-sizing, suppress selection*/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-user-select:none;
	-moz-user-select:none;
}

body {
	min-width: 1120px;
	background-color: #222222;
	color: #DDDDDD;

}

/*Header banner/////////////////////////////////////////*/
div#header{
	background-color: #111111;
    padding-left: calc((100% - 1120px) / 2);
    padding-right: calc((100% - 1120px) / 2);
    padding-top:1em;
    padding-bottom:1em;
}

img#logo{
	float:left;
}

div#header h1, div#header h2{
	margin: 0px;
	display: table;
}

div#header h1{
	font-size: 400%;
}

div#header h2{
	font-size: 200%;
}

/*main content/////////////////////////////////////*/
div#mainContent{
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: calc((100% - 1120px) / 2);
    padding-right: calc((100% - 1120px) / 2);
    width: 100%;
    display: inline-block;
    text-align: center;
}

/*/////////////////*/
/*Cycle defn styles*/
/*/////////////////*/
div#cycleDefinition, div#isotopeList, div#summaryTable{
	background-color: #333333;
	border-radius:1em;
	padding:1em;
	display:inline-table;
	text-align: left;
	margin-right: 1em;
}

div#cycleDefinition h2, div#isotopeList h2, div#summaryTable h2{
	margin:0px 0px 1em 0px;
}

div#cycleDefinition td, input{
	font-size: 120%;
	padding: 2px;
}

div#cycleDefinition input{
	background-color: #111111;
	border-radius: 5px;
	border: 0px;
	color:#EEEEEE;
	width: 6em;
	padding:0.5em 0 0.5em 0.5em;
}

select.unitSelect{
	font-size: 120%;
	background-color: #111111;
	border-radius: 5px;
	border: 0px;
	color:#EEEEEE;
	padding:0.5em;
	cursor:pointer;
}

td.leadLabel{
	text-align: right;
	padding-right: 1em;
}

td.unitLabel{
	text-align: left;
	padding-left: 0.5em;
}

/*///////////////////*/
/*isotope list styles*/
/*///////////////////*/
div#isotopeList input, div#isotopeList select{
	font-size: 120%;
	background-color: #111111;
	border-radius: 5px;
	border: 0px;
	color:#EEEEEE;
	width: 6em;
	padding:0.5em 0 0.5em 0.5em;
	margin-right: 2px;
}

div#isotopeList input::-moz-focus-inner{
	padding: 0.5em 0 0.5em 0.5em;
}

div#isotopeList select{
	width: 100%;
	text-align: center;
	padding: 0.5em 1em 0.5em 1em;
}

td.deleteRow{
	padding-left: 1em;
}

input[type=checkbox]{
	display:none;
}

input[type='checkbox'] + label{
	width:1.2em;
	height:1.2em;
	border-radius: 0.6em;
	display:inline-block;
	border:2px solid #111111;
	background-color: #ffffff;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	cursor: pointer;
	transition:background-color 0.3s; 
	-moz-transition:background-color 0.3s; 
	-webkit-transition:background-color 0.3s;
}

input[type='checkbox']:checked + label{
	background-color: #00FF00;
}

x-inputTable tr td:nth-child(5){
	text-align: center;
}

x-inputTable tr td:nth-child(4){
	padding-left: 1em;
}

button{
	font-size: 120%;
	line-height: 2em;
	border-radius: 5px;
	cursor:pointer;
	margin: 0.5em 0 0.5em 0;
	border:0px;
	color:#EEEEEE;
	background-color: #222222;
}

button.deleteRow{
	color:#999999;
	font-size: 120%;
	transition:color 0.3s ease; 
	-moz-transition:color 0.3s ease; 
	-webkit-transition:color 0.3s ease;
}

button.deleteRow:hover{
	color: #FF0000;
}

button#addrow{
	display: block;
}

/*/////////////*/
/*activity list*/
/*/////////////*/
div#summaryTable{
	margin-top: 1em;
}

table#summaryActivity td{
	padding: 1em;
}

table#summaryActivity tr:nth-child(odd){
	background-color: #222222;
}

/*////////////////*/
/*plot area styles*/
/*////////////////*/
x-deck#plotDeck{
	height:60%;
	width:100%;
	float:left;
	margin-bottom: 1em;
}

div#duringPlot, div#afterPlot, div#cyclePlot, div#lastCyclesPlot{
	width: 100% !important;
	height: 100% !important;
}

/*axes and labels*/
.dygraph-axis-label{
	color: #999999;
	font-size: 120%;
}

.dygraph-legend{
	background: rgba(0,0,0,0.3) !important;
	font-size:200% !important;
	width: 8.5em !important;
	left: auto !important;
	right: 0px !important;
	padding:0.5em;
}

.dygraph-legend span{
	clear:both;
}

/*////////////////////*/
/*area selector styles*/
/*////////////////////*/

div#areaSelect{
	margin-bottom: 1em;
	text-align: center;
}

div#areaSelect input[type=radio]{
	display:none;
}

div#areaSelect input[type=radio] + label, a#savePlot{
	display:inline-block;
	background-color: #111111;
	cursor: pointer;
	font-size: 150%;
	padding: 0.5em;
	border-radius: 5px;
	transition:background-color 0.3s; 
	-moz-transition:background-color 0.3s; 
	-webkit-transition:background-color 0.3s;
}

a#savePlot:link, a#savePlot:hover{
	color: #FFFFFF;
	text-decoration: none;
}

div#plotToolRow{
	margin-bottom: 0.5em
}

div#areaSelect input[type=radio]:checked + label{
	background-color: #666666;
}

/*/////////*/
/*Nav Panel*/
/*/////////*/

div#navWrap{
	display:inline-block;
	margin-bottom: 1em;
}

div#previousCardWrap, div#nextCardWrap{
	text-align: center;
	cursor:pointer;
	font-size: 100%;
	border-radius: 5px;
	background-color: #111111;
	padding:0.5em;
	float:left;
	-webkit-transition: color 0.3s ease, text-shadow 0.3s ease;
	-moz-transition: color 0.3s ease, text-shadow 0.3s ease;
	transition: color 0.3s ease, text-shadow 0.3s ease;
}

div#previousCardWrap:hover, div#nextCardWrap:hover{
	color:#FFFFFF;
	text-shadow: 1px 0px 2px #FFFFFF;
}

x-StateFlag{
	float:left;
	padding: 0 0.5em 0 0.5em;
}

x-StateFlag div{
	font-size: 100%;
	width:1em;
	height:1em;
	border-radius: 7.5px;
	background-color: #111111;
	margin:0.5em;
	cursor:pointer;
	border:2px solid #999999;
	-webkit-transition: background-color 0.3s ease, box-shadow 0.3s ease;
	-moz-transition: background-color 0.3s ease, box-shadow 0.3s ease;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

x-StateFlag div.selectedStateDiv{
	background-color: #EEEEEE;
	box-shadow: 0px 0px 5px #EEEEEE;

}

/*img holder for savable data///////////////////////////////////////*/
img#pngDump{
	display:none;
}

/*Footer and footer-related styles////////////////////////////////////////////////////*/
div#footer{
    background-color: #111111;
    text-align: center;
    font: 120%;
    color: #DDDDDD;
    padding-left: calc((100% - 1120px) / 2);
    padding-right: calc((100% - 1120px) / 2);
    padding-bottom: 50px;
    height: 350px
}

div#push{
	height:350px;
}

div#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -350px;
}

div#footer table{
    margin-left:0px;
    margin-top:1.5em;
}

div#footer div.textBlock{
    float: left;
    margin-top:33px;
}

div#footer p{
    text-align: left;
    line-height: 1.5em;
}

div#footer table td{
    padding: 0px 40px 0px 00px;
}

div#footer h3{
	font-size: 150%;
}

div#footer a{
    text-decoration: none !important;
    color: #999999;
} 

div#footer a:hover{
    color: #EEEEEE !important;
}
    
div#footer a:visited{
    color: #999999;
}

canvas#footerImage{
    position: absolute;
    right:calc((100% - 1120px) / 2);
}

img#gitLogo{
	margin-bottom:3px;
}